*.iws
*.iml
*.ipr
*.fxml.bak
*/**/target/
*/**/.idea/
**/target/
**/.idea/
stagediver.fx/classes/
stagediver.fx/felix-cache/
stagediver.fx/platform-full/felix-cache/
sandbox/
stagediver.fx/example-gui/felix-cache/
